body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(69, 69, 69);
    color: rgb(24, 135, 175);
    text-align: center;
}

.header{
    font-size: 25px;
    text-align: justify; 
}
.asdpa_1{
    font-size: 20px;padding-left: 5%;
}